<section class="nav">
    <div class="dropdown ">
        <h4 class="dropbtn">Role</h4>
        <div class="dropdown-content">
          <a href="/authapi/v1/deshbord">User</a>
          <a href="/authapi/v1/admindeshbord">Admin</a>
          <a href="/authapi/v1/managerdeshbord">manager</a>


        </div>
      </div>
       <div class="navcontent">
           <ul class="nav-items">
               <li class="nav-item"><a class="nav-link" href="/authapi/v1/managerdeshbord"><h4>Home</h4></a>
               </li>
               <li class="nav-item"><a class="nav-link" href="/"><h4>Role</h4></a>
               </li>
               <li class="nav-item Signuplink "> profile
                   <div class="logoutdrop ">
                    <a  class="" href="/authapi/v1/Logout">Logout</a>
                    <a href="/authapi/v1/alladmin">second</a>
                   </div>
               </li>
           </ul>
       </div>  
