<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <link rel="stylesheet" href="../public/css/usercss.css">

    <title>UserDeshbord</title>

</head>
<body>
   <section class="nav">
    <div class="dropdown ">
        <h4 class="dropbtn">Role</h4>
        <div class="dropdown-content">
          <a href="/signupform">User</a>
          <a href="/admindeshbord">Admin</a>
        </div>
      </div>
       <div class="navcontent">
           <ul class="nav-items">
               <li class="nav-item"><a class="nav-link" href=""><h4>Home</h4></a>
               </li>
               <li class="nav-item"><a class="nav-link" href="/"><h4>Role</h4></a>
               </li>
               <li class="nav-item">
                   <a  class="nav-link Signuplink" href="/signupform"><h4>Signup/login</h4></a>
               </li>
           </ul>
       </div>  
        
    </section>
</body>
</html>