<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <link rel="stylesheet" href="/css/diffcss.css">

    <title>All admin</title>


   
</head>
<body>
     <%- include('./partials/alladminnav.ejs') %>
</section>
    <section class="bodysection">
        <div class="maincontent">
            
        </div>

        <div class="adminapp">
           
                        <div class="userboxes">
                            <div class="maininfo">
                                <h2><%=  user.name%></h2>
                                <h2><%=  user.email%></h2>


                            </div>
                            
                            <div class="rolediv">
                            <h4><%=  user.role%></h4>
                            

                            </div>

                        </div>
                       
                   
        </div>
        


       
    </section>
</body>
</html>








